:root {
  /* ------ COLORS -------- */
  --color-main: #2e2520;
  --color-accent-dark: #000000;
  --color-accent-brown: #876655;
  --color-font-button: #ffffff;
  --color-back-ground: #e5e5e5;
  --color-button: #ab816c;
  --color-bg-menu: rgba(254, 243, 228, 0.9);

  /*------ TEXT -------*/
  --main-font: Montserrat, sans-serif;
  --title-font: Caveat Brush, cursive;
}
