<section class="section aboutus" id="aboutus">
  <div class="container aboutus__container">
    <picture class="aboutus__picture">
      <source
        srcset="./images/about-desktop/webp/box.webp 1x, ./images/about-desktop/webp/box@2x.webp 2x"
        media="(min-width: 1280px)"
        type="image/webp"
      />
      <source
        srcset="./images/about-desktop/png/box.png 1x, ./images/about-desktop/png/box@2x.png 2x"
        media="(min-width: 1280px)"
      />

      <source
        srcset="./images/about-tablet/webp/box.webp 1x, ./images/about-tablet/webp/box@2x.webp 2x"
        media="(min-width: 768px)"
        type="image/webp"
      />
      <source
        srcset="./images/about-tablet/png/box.png 1x, ./images/about-tablet/png/box@2x.png 2x"
        media="(min-width: 768px)"
      />

      <source
        srcset="./images/about-mobile/webp/box.webp 1x, ./images/about-mobile/webp/box@2x.webp 2x"
        media="(min-width: 320px)"
        type="image/webp"
      />
      <source
        srcset="./images/about-mobile/png/box.png 1x, ./images/about-mobile/png/box@2x.png 2x"
        media="(min-width: 320px)"
      />

      <img src="./images/about-desktop/png/box.png" loading="lazy" alt="box" />
    </picture>
    <div class="aboutus__content">
        <h2 class="aboutus__title title">About us</h2>
      <p class="aboutus__text aboutus__text--padding">
        Oh My Donut is the shop which adores tasty deserts and spend hours to create sophisticated
        donuts which will save the world!
      </p>
      <p class="aboutus__text">
        Eva has been baking since she was six years old and over the last 49 years, she has created
        hundreds of cakes for weddings and has baked for many celebrities. Eva and our shop have
        received multiple awards & recognition for excellence.
      </p>
      <p class="text is-hidden">
        We are going to teach you how to cook with passion and sparkles in your eyes! We love what
        we do and believe you will enjoy our cooking atmosphere!
      </p>
      <button id="myBtn" type="button" class="btn-read-more aboutus__btn-read-more" data-read-more>
        Read more
      </button>
    </div>
  </div>
</section>
