<section class="contact" id="contact">
  <div class="container">
    <form action="#" class="contact">
      <h2 class="contact__head">Contact</h2>

      <p class="contect__text">We will answer any question!</p>
      <input
        type="email"
        name="user-email"
        class="contact-form__input contact-input__position"
        placeholder="Email"
        required
      />
      <span class="form__error--mail"
        >This field should contain E-Mail in the format example@site.com</span
      >
      <textarea
        name="user-message"
        class="contact-form__message contact-message__position"
        placeholder="Type your question"
        rows="1"
      ></textarea>

      <button type="submit" class="button contact__btn">Send</button>
    </form>
    <div class="social-list__wrapper">
      <ul class="list social-list">
        <li class="item social-list__twitter">
          <a class="link" target="blank" rel="noreferrer noopener" href="https://twitter.com/">
            <svg class="social-icon__twitter">
              <use href="./images/sprite/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="item social-list__instagram">
          <a
            class="link"
            target="blank"
            rel="noreferrer noopener"
            href="https://www.instagram.com/"
          >
            <svg class="social-icon__instagram">
              <use href="./images/sprite/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="item social-list__facebook">
          <a class="link" target="blank" rel="noreferrer noopener" href="https://www.facebook.com/">
            <svg class="social-icon__facebook">
              <use href="./images/sprite/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <address>
      <ul class="list address">
        <li class="item address__item">
          <a class="link address__link" href="tel:+79102228855">
            <svg class="address__icon" width="13px" height="13px">
              <use href="./images/sprite/sprite.svg#icon-phone"></use></svg>(910)222-8855</a>
        </li>
        <li class="item address__item">
          <a class="link address__link" target="blank" rel="noreferrer noopener" href="https://goo.gl/maps/mZk5CvSxshd8X4zr7">
            <svg class="address__icon" width="11px" height="14.5px">
              <use href="./images/sprite/sprite.svg#icon-group"></use></svg>New York</a>
        </li>
      </ul>
    </address>
  </div>
</section>
