<header class="page-header">
  <div class="nav container">
    <a href="./index.html" class="logo logo__nav--position">
      <img src="./images/svg/logo.svg" loading="lazy" alt="logo" class="logo__icon--nav" />
    </a>
    <button type="button" class="button__nav" data-menu-button>
      <svg width="30px" height="16px" aria-label="Переключатель мобильного меню">
        <use class="icon-open" href="./images/sprite/icon.svg#icon-menu"></use>
      </svg>
    </button>
    <div class="menu-desktop">
      <nav class="menu-desktop__nav">
        <ul class="site-nav list">
          <li class="site-nav__item">
            <a href="#aboutus" class="link">About us</a>
          </li>
          <li class="site-nav__item">
            <a href="#program" class="link">Program</a>
          </li>
          <li class="site-nav__item">
            <a href="#reviews" class="link">Reviews</a>
          </li>
          <li class="site-nav__item">
            <a href="#contact" class="link">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="menu-mobile" data-menu>
      <div class="menu-mobile_container">
        <a href="./index.html" class="logo logo__menu--position">
          <img src="./images/svg/logo.svg" loading="lazy" alt="logo" class="logo__icon--menu" />
        </a>
        <button type="button" class="menu-mobile__close-btn" data-menu-close>
          <svg width="25px" height="25px" aria-label="Переключатель мобильного меню">
            <use class="icon-close" href="./images/sprite/icon.svg#icon-close"></use>
          </svg>
        </button>

        <nav class="menu-mobile__nav">
          <ul class="site-nav list">
            <li class="site-nav__item">
              <a href="#aboutus" class="link" data-menu-close>About us</a>
            </li>
            <li class="site-nav__item">
              <a href="#program" class="link" data-menu-close>Program</a>
            </li>
            <li class="site-nav__item">
              <a href="#reviews" class="link" data-menu-close>Reviews</a>
            </li>
            <li class="site-nav__item">
              <a href="#contact" class="link" data-menu-close>Contacts</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
