<section class="hero-section">
  <div class="container hero-flex__container">
    <h1 class="hero-title hero-title__position">
      Donut Masterclass <br />
      with the Donut King
    </h1>
    <p class="hero-text hero-text__position">Hosted by Eva Green</p>
    <a href="#registration-section" class="button button-position"> Register </a>
    <ul class="hero-social__list list">
      <li class="hero-social__item">
        <a
          target="blank"
          rel="noreferrer noopener"
          href="https://twitter.com/"
          class="hero-social__link"
        >
          <svg class="social-icon__twitter">
            <use href="./images/sprite/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="hero-social__item">
        <a
          target="blank"
          rel="noreferrer noopener"
          href="https://www.instagram.com/"
          class="hero-social__link"
        >
          <svg class="social-icon__instagram">
            <use href="./images/sprite/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="hero-social__item">
        <a
          target="blank"
          rel="noreferrer noopener"
          href="https://www.facebook.com/"
          class="hero-social__link"
        >
          <svg class="social-icon__facebook">
            <use href="./images/sprite/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
