


<div class="section program__section" id="program">
  <div class="container program__container">
        <div class="program__left-part">
            <h2 class="title program__title">Program</h2>
            <p class="program__paragraph">
                Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York
                donut shop!
            </p>
            <ul class="list list__marker program__list">
                <li class="program__list-item"><p>A stand up history of donuts</p></li>
                <li class="program__list-item"><p>Make 3 donut flavors of your choice</p></li>
                <li class="program__list-item"><p>Enjoy all-you-can-eat donuts</p></li>
                <li class="program__list-item"><p>Cocktail pairings and coffee included</p></li>
                <li class="program__list-item"><p>Photoshoot by professional photographer</p></li>
                <li class="program__list-item"><p>Secret receipt of cooking from Eva</p></li>
                <li class="program__list-item"><p>All products are included in the price</p></li>
            </ul>
            <p class="text is-hidden " >
                Come with your dear people and friends and you will spend an unforgettable time and will
                become a real professional in donuts cooking!
            </p>
            <button type="button" class="btn-read-more program__btn-read-more" data-read-more>Read more</button>
            
        </div>
        <div class="program__right-part">
                <ul class="program__list-greed list">
                        <li class="program__list-greed-item bg-img-donut-black">
                            <div class="program__list-greed-item-wraper">
                                <h3 class="program__list-greed-item-title">Type of the event</h3>
                                <p class="program__list-greed-item-paragraph paragraph-icon-hat">Cooking classes</p>
                                <svg class="program__list-greed-item-icon-hat">
                                    <use href="./images/sprite/sprite.svg#icon-chef-hat"></use>
                                </svg>
                            </div>
                        </li>

                        <li class="program__list-greed-item bg-img-donut-white">
                            <div class="program__list-greed-item-wraper">
                                <h3 class="program__list-greed-item-title">Number of guests</h3>
                                <p class="program__list-greed-item-paragraph paragraph-icon-people">1 to 20</p>
                                <svg class="program__list-greed-item-icon-people">
                                    <use href="./images/sprite/sprite.svg#icon-people"></use>
                                </svg>
                            </div>
                        </li>
                        <li class="program__list-greed-item bg-img-donut-grey">
                            <div class="program__list-greed-item-wraper">
                                <h3 class="program__list-greed-item-title">Time of the event</h3>
                                <p class="program__list-greed-item-paragraph paragraph-icon-clock">18:30 (2.5 hours)</p>
                                <svg class="program__list-greed-item-icon-clock">
                                    <use href="./images/sprite/sprite.svg#icon-clock"></use>
                                </svg>
                            </div>
                        </li>
                        <li class="program__list-greed-item bg-img-donut-brown">
                            <div class="program__list-greed-item-wraper">
                                <h3 class="program__list-greed-item-title">The host speaks</h3>
                                <p class="program__list-greed-item-paragraph paragraph-icon-chat">English, French</p>
                                <svg class="program__list-greed-item-icon-chat">
                                    <use href="./images/sprite/sprite.svg#icon-chat"></use>
                                </svg>
                            </div>
                        </li>

                </ul>
            </div>
    
    </div>
    
</div>
