<section class="reviews section" id="reviews">
  <div class="container">
    <div class="reviews__wrapper">
      <h2 class="reviews__title title">Reviews</h2>
      <div class="slider">
        <div class="slider__item">
          <picture class="reviews__picture">
            <source srcset="
                          ./images/review-desktop/webp/john.webp    1x,
                          ./images/review-desktop/webp/john@2x.webp 2x
                        " media="(min-width: 1280px)" type="image/webp" />
            <source srcset="
                          ./images/review-desktop/jpg/john.jpg    1x,
                          ./images/review-desktop/jpg/john@2x.jpg 2x
                        " media="(min-width: 1280px)" />
          
            <source srcset="
                          ./images/review-tablet/webp/john.webp    1x,
                          ./images/review-tablet/webp/john@2x.webp 2x
                        " media="(min-width: 768px)" type="image/webp" />
            <source srcset="
                          ./images/review-tablet/jpg/john.jpg    1x,
                          ./images/review-tablet/jpg/john@2x.jpg 2x
                        " media="(min-width: 768px)" />
          
            <source srcset="
                          ./images/review-mobile/webp/john.webp    1x,
                          ./images/review-mobile/webp/john@2x.webp 2x
                        " media="(min-width: 320px)" type="image/webp" />
            <source srcset="
                          ./images/review-mobile/jpg/john.jpg    1x,
                          ./images/review-mobile/jpg/john@2x.jpg 2x
                        " media="(min-width: 320px)" />
            <img class="reviews__img" src="./images/review-desktop/jpg/john.jpg" alt="John" />
          </picture>
          <svg class="rate__icon" width="136px" height="24px">
            <use href="./images/sprite/sprite.svg#icon-rate-four"></use>
          </svg>
          <h3 class="reviews__name">John</h3>
        </div>
        <div class="slider__item">
          <picture class="reviews__picture">
            <source srcset="
                          ./images/review-desktop/webp/will.webp    1x,
                          ./images/review-desktop/webp/will@2x.webp 2x
                        " media="(min-width: 1280px)" type="image/webp" />
            <source srcset="
                          ./images/review-desktop/jpg/will.jpg    1x,
                          ./images/review-desktop/jpg/will@2x.jpg 2x
                        " media="(min-width: 1280px)" />
          
            <source srcset="
                          ./images/review-tablet/webp/will.webp    1x,
                          ./images/review-tablet/webp/will@2x.webp 2x
                        " media="(min-width: 768px)" type="image/webp" />
            <source srcset="
                          ./images/review-tablet/jpg/will.jpg    1x,
                          ./images/review-tablet/jpg/will@2x.jpg 2x
                        " media="(min-width: 768px)" />
          
            <source srcset="
                          ./images/review-mobile/webp/will.webp    1x,
                          ./images/review-mobile/webp/will@2x.webp 2x
                        " media="(min-width: 320px)" type="image/webp" />
            <source srcset="
                          ./images/review-mobile/jpg/will.jpg    1x,
                          ./images/review-mobile/jpg/will@2x.jpg 2x
                        " media="(min-width: 320px)" />
            <img class="reviews__img" src="./images/review-desktop/jpg/will.jpg" alt="Will" />
          </picture>
          <svg class="rate__icon" width="136px" height="24px">
            <use href="./images/sprite/sprite.svg#icon-rate-five"></use>
          </svg>
          <h3 class="reviews__name">Will</h3>
        </div>
        <div class="slider__item">
          <picture class="reviews__picture">
            <source srcset="
                          ./images/review-desktop/webp/elisabeth.webp    1x,
                          ./images/review-desktop/webp/elisabeth@2x.webp 2x
                        " media="(min-width: 1280px)" type="image/webp" />
            <source srcset="
                          ./images/review-desktop/jpg/elisabeth.jpg    1x,
                          ./images/review-desktop/jpg/elisabeth@2x.jpg 2x
                        " media="(min-width: 1280px)" />
          
            <source srcset="
                          ./images/review-tablet/webp/elisabeth.webp    1x,
                          ./images/review-tablet/webp/elisabeth@2x.webp 2x
                        " media="(min-width: 768px)" type="image/webp" />
            <source srcset="
                          ./images/review-tablet/jpg/elisabeth.jpg    1x,
                          ./images/review-tablet/jpg/elisabeth@2x.jpg 2x
                        " media="(min-width: 768px)" />
          
            <source srcset="
                          ./images/review-mobile/webp/elisabeth.webp    1x,
                          ./images/review-mobile/webp/elisabeth@2x.webp 2x
                        " media="(min-width: 320px)" type="image/webp" />
            <source srcset="
                          ./images/review-mobile/jpg/elisabeth.jpg    1x,
                          ./images/review-mobile/jpg/elisabeth@2x.jpg 2x
                        " media="(min-width: 320px)" />
            <img class="reviews__img" src="./images/review-desktop/jpg/elisabeth.jpg" alt="Will" />
          </picture>
          <svg class="rate__icon" width="136px" height="24px">
            <use href="./images/sprite/sprite.svg#icon-rate-five"></use>
          </svg>
          <h3 class="reviews__name">Elisabeth</h3>
        </div>
        <div class="slider__item">
          <picture class="reviews__picture">
            <source srcset="
                                  ./images/review-desktop/webp/john.webp    1x,
                                  ./images/review-desktop/webp/john@2x.webp 2x
                                " media="(min-width: 1280px)" type="image/webp" />
            <source srcset="
                                  ./images/review-desktop/jpg/john.jpg    1x,
                                  ./images/review-desktop/jpg/john@2x.jpg 2x
                                " media="(min-width: 1280px)" />
        
            <source srcset="
                                  ./images/review-tablet/webp/john.webp    1x,
                                  ./images/review-tablet/webp/john@2x.webp 2x
                                " media="(min-width: 768px)" type="image/webp" />
            <source srcset="
                                  ./images/review-tablet/jpg/john.jpg    1x,
                                  ./images/review-tablet/jpg/john@2x.jpg 2x
                                " media="(min-width: 768px)" />
        
            <source srcset="
                                  ./images/review-mobile/webp/john.webp    1x,
                                  ./images/review-mobile/webp/john@2x.webp 2x
                                " media="(min-width: 320px)" type="image/webp" />
            <source srcset="
                                  ./images/review-mobile/jpg/john.jpg    1x,
                                  ./images/review-mobile/jpg/john@2x.jpg 2x
                                " media="(min-width: 320px)" />
            <img class="reviews__img" src="./images/review-desktop/jpg/john.jpg" alt="John" />
          </picture>
          <svg class="rate__icon" width="136px" height="24px">
            <use href="./images/sprite/sprite.svg#icon-rate-four"></use>
          </svg>
          <h3 class="reviews__name">John</h3>
        </div>
        <div class="slider__item">
          <picture class="reviews__picture">
            <source srcset="
                                  ./images/review-desktop/webp/will.webp    1x,
                                  ./images/review-desktop/webp/will@2x.webp 2x
                                " media="(min-width: 1280px)" type="image/webp" />
            <source srcset="
                                  ./images/review-desktop/jpg/will.jpg    1x,
                                  ./images/review-desktop/jpg/will@2x.jpg 2x
                                " media="(min-width: 1280px)" />
        
            <source srcset="
                                  ./images/review-tablet/webp/will.webp    1x,
                                  ./images/review-tablet/webp/will@2x.webp 2x
                                " media="(min-width: 768px)" type="image/webp" />
            <source srcset="
                                  ./images/review-tablet/jpg/will.jpg    1x,
                                  ./images/review-tablet/jpg/will@2x.jpg 2x
                                " media="(min-width: 768px)" />
        
            <source srcset="
                                  ./images/review-mobile/webp/will.webp    1x,
                                  ./images/review-mobile/webp/will@2x.webp 2x
                                " media="(min-width: 320px)" type="image/webp" />
            <source srcset="
                                  ./images/review-mobile/jpg/will.jpg    1x,
                                  ./images/review-mobile/jpg/will@2x.jpg 2x
                                " media="(min-width: 320px)" />
            <img class="reviews__img" src="./images/review-desktop/jpg/will.jpg" alt="Will" />
          </picture>
          <svg class="rate__icon" width="136px" height="24px">
            <use href="./images/sprite/sprite.svg#icon-rate-five"></use>
          </svg>
          <h3 class="reviews__name">Will</h3>
        </div>
        <div class="slider__item">
          <picture class="reviews__picture">
            <source srcset="
                                  ./images/review-desktop/webp/elisabeth.webp    1x,
                                  ./images/review-desktop/webp/elisabeth@2x.webp 2x
                                " media="(min-width: 1280px)" type="image/webp" />
            <source srcset="
                                  ./images/review-desktop/jpg/elisabeth.jpg    1x,
                                  ./images/review-desktop/jpg/elisabeth@2x.jpg 2x
                                " media="(min-width: 1280px)" />
        
            <source srcset="
                                  ./images/review-tablet/webp/elisabeth.webp    1x,
                                  ./images/review-tablet/webp/elisabeth@2x.webp 2x
                                " media="(min-width: 768px)" type="image/webp" />
            <source srcset="
                                  ./images/review-tablet/jpg/elisabeth.jpg    1x,
                                  ./images/review-tablet/jpg/elisabeth@2x.jpg 2x
                                " media="(min-width: 768px)" />
        
            <source srcset="
                                  ./images/review-mobile/webp/elisabeth.webp    1x,
                                  ./images/review-mobile/webp/elisabeth@2x.webp 2x
                                " media="(min-width: 320px)" type="image/webp" />
            <source srcset="
                                  ./images/review-mobile/jpg/elisabeth.jpg    1x,
                                  ./images/review-mobile/jpg/elisabeth@2x.jpg 2x
                                " media="(min-width: 320px)" />
            <img class="reviews__img" src="./images/review-desktop/jpg/elisabeth.jpg" alt="Will" />
          </picture>
          <svg class="rate__icon" width="136px" height="24px">
            <use href="./images/sprite/sprite.svg#icon-rate-five"></use>
          </svg>
          <h3 class="reviews__name">Elisabeth</h3>
        </div>
      </div>
      <div class="reviews__content-slider">
          <div>
          <p class="reviews__description reviews__description_john">
            Last time I have visited a cooking course by Eva I was impressed with the way she
            explained everything to people. You can be sure you will manage to cook a delicious dish
            even if it is your first time in the kitchen! Thank you so much for the masterclass!
            Looking forward to the next one and highly recommend it to everyone!
          </p>
          </div>
          <div>
            <p class="reviews__description reviews__description_will">
              Last time I have visited a cooking course by Eva I was impressed with the way she
              explained everything to people. You can be sure you will manage to cook a delicious dish
              even if it is your first time in the kitchen! Thank you so much for the masterclass!
              Looking forward to the next one and highly recommend it to everyone!
            </p>
          </div>
          <div>
            <p class="reviews__description reviews__description_elisabeth">
              Last time I have visited a cooking course by Eva I was impressed with the way she
              explained everything to people. You can be sure you will manage to cook a delicious dish
              even if it is your first time in the kitchen! Thank you so much for the masterclass!
              Looking forward to the next one and highly recommend it to everyone!
            </p>
          </div>
          <div>
            <p class="reviews__description reviews__description_john">
              Last time I have visited a cooking course by Eva I was impressed with the way she
              explained everything to people. You can be sure you will manage to cook a delicious dish
              even if it is your first time in the kitchen! Thank you so much for the masterclass!
              Looking forward to the next one and highly recommend it to everyone!
            </p>
          </div>
          <div>
            <p class="reviews__description reviews__description_will">
              Last time I have visited a cooking course by Eva I was impressed with the way she
              explained everything to people. You can be sure you will manage to cook a delicious dish
              even if it is your first time in the kitchen! Thank you so much for the masterclass!
              Looking forward to the next one and highly recommend it to everyone!
            </p>
          </div>
          <div>
            <p class="reviews__description reviews__description_elisabeth">
              Last time I have visited a cooking course by Eva I was impressed with the way she
              explained everything to people. You can be sure you will manage to cook a delicious dish
              even if it is your first time in the kitchen! Thank you so much for the masterclass!
              Looking forward to the next one and highly recommend it to everyone!
            </p>
          </div>
      </div>
    </div>
  </div>
</section>

